.home {
    display: flex;
    align-items: center;
    background-color: black;
}

.landing-text {
    color: white;
}

/* ----- About ----- */
.about {
    background-color: #191919;
}

.about-tabs {
    background-color: none;
    z-index: 0;
    box-shadow: none;
}

.about-img {
    border: none;
    border-radius: 8px;
    border-color: none;
}