/* ----------- Global Styles ---------- */
body, * {
    margin: 0;
    padding: 0;
}

/* ----------- Hide Scroll Bar ---------- */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root {
  position: relative;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
}

/* ----------- Media Queries ---------- */

/* Mobile */
@media (max-width: 600px) {
    #root {
      background-color: green;
    }
}

/* Tablet */
@media (min-width: 600px) {
    #root {
      background-color: yellow;
    } 
}

/* Desktop */
@media (min-width: 960px) {
    
}