/* ----------- Global Styles ---------- */
body, * {
    margin: 0;
    padding: 0;
}

/* ----------- Hide Scroll Bar ---------- */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root {
  position: relative;
  background-color: #101010;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  background-color: red;
}

/* ----------- Media Queries ---------- */

/* Mobile */
@media (max-width: 600px) {
   
}

/* Tablet */
@media (min-width: 600px) {
  
}

/* Desktop */
@media (min-width: 960px) {
}
